* {
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  padding: 25px;
}
#animal-list {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.card-img-top {
  width: 100%;
  height: 23em;
  object-fit: cover;
  padding: 20px;
}
.card {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}
.card-body {
  padding: 0px 0px 20px 20px;
}
.card-body * {
  margin-bottom: 7px;
}
.nav {
  margin-top: 40px;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  #animal-list {
    display: block;
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 90%;
    margin: 0 5% 10px 5%;
  }
}
@media screen and (max-width: 1200px) {
  #animal-list {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
